[2017-07-09 06:54] scooby78 opened #28 "ACE_Altimeter shows as normal watch"

[2017-07-10 01:39] scooby78 opened #29 "Para-drop code optimise"
Para drop sometimes doesn't attach chute to players

Looks to be a desync issue and only happens randomly and to only a few players..

Explore optimised ways to perform the action..  Possibly with eject function

[2017-07-11 00:43] scooby78 commented on #28
Correct watch seen when only vanilla Arma 3 and ACE used

[2017-07-11 00:51] scooby78 opened #30 "Artillery Function test"
Does it work well?
What can be improved?

To do:
- [x] Add as placeable unit
- [x] Add line of sight capability
- [x] Add throttling capability
- [x] Add target down logic capability

[2017-07-23 12:47] scooby78 opened #31 "Isis Opfor pack update"
links to https://github.com/scooby78/160thSOR_OpFor/issues/11

[2017-07-23 12:48] scooby78 opened #32 "PMC Opfor pack update"
Links to https://github.com/scooby78/160thSOR_OpFor/issues/12

[2017-07-23 12:52] scooby78 opened #33 "Vanilla Tank Re-texture"
Independent tank re-purpose to alleviate mech's issues

[2017-07-23 12:55] scooby78 opened #34 "Vcom AI mod version test"

[2017-07-23 12:59] scooby78 opened #35 "4th Reich Opfor pack update"
Links to https://github.com/scooby78/160thSOR_OpFor/issues/8

[2017-07-23 13:00] scooby78 opened #36 "Zeus no fly zone"
Links to https://github.com/scooby78/160thSOR_OpFor/issues/9

[2017-07-23 13:08] scooby78 opened #37 "AI ACE settings revise"

[2017-07-25 02:46] yettie79 commented on #31
SOR ISIS  - DONE!!

[2017-07-25 12:50] scooby78 commented on #35
Fixed in https://github.com/scooby78/160thSOR_OpFor/pull/10

[2017-07-25 12:50] #35 closed, assigned to scooby78

[2017-08-06 11:54] scooby78 opened #38 "Weapon selector load-out update"
New assets required in the selection as per Inf

[2017-08-06 12:54] #36 closed, assigned to scooby78

[2017-08-06 12:56] #31 closed, assigned to yettie79

[2017-08-13 05:49] #38 closed, assigned to destruktoid, yettie79

[2017-09-03 06:10] scooby78 commented on #37
AI health increased to 1.8

[2017-09-03 06:10] #37 closed, assigned to AmTheAgent, scooby78, yettie79

[2017-09-04 23:55] Nels0 commented on #34
Are we still going to pursue this?
Feedback from missionmakers seemed to be that AI was more controllable using VCOM - despite aggression advantage.
Will try get more info from missionmakers.

[2017-09-07 10:35] scooby78 opened #39 "Dynasound vs JSRS do they still cause network performance issues"
- [x] Create initial whitelist

Add to:
- [x] Altis
- [x] Malden
- [x] Sara_dbe1
- [x] Stratis
- [x] Tanoa
- [x] Malden TS

6.17.1102 update added:
- [x] Altis
- [x] Malden
- [x] Sara_dbe1
- [x] Stratis
- [x] Tanoa
- [x] Malden TS

[2017-09-07 10:36] scooby78 commented on #28
issue seems intermittent

[2017-09-07 10:37] scooby78 commented on #39
Testers:
Nutup
Yettie
Ranger
Snooker
Yummy
Diesel
Bean
Scooby

[2017-09-07 10:44] scooby78 opened #40 "Viper revamp"

[2017-09-07 10:46] scooby78 commented on #34
@Nels0 Please let me know your findings

[2017-09-07 10:57] scooby78 opened #41 "TFAR frequencies initialisation issue"
- Low priority as next Ver of TFAR will change the way to initialise set frequencies
- Currently testing new CBA settings system with TFAR for a fixed frequencies solution
- Watching TFAR for a stable update

[2017-09-07 10:59] scooby78 opened #42 "Advanced Medical"
- Monitoring mission structure when Adv Med used
- Researching solutions to existing basic medical and weighing up pros and cons between both
- Monitoring ACE medical rewrite as alternate solution (Currently planned to be rolled out in v3.9.x)

[2017-09-18 09:05] yettie79 commented on #32
waiting on fix

[2017-09-18 13:12] scooby78 commented on #32
let me know if that worked

[2017-09-30 15:18] scooby78 commented on #40
Loadout added as per mech request

[2017-09-30 15:18] #40 closed, assigned to scooby78

[2017-09-30 15:19] scooby78 commented on #33
assets added to pack

[2017-09-30 15:19] #33 closed, assigned to AmTheAgent, scooby78

[2017-09-30 15:20] scooby78 commented on #30
Fallback range and engagement range tweaked

[2017-09-30 15:21] scooby78 commented on #30
changes added ref: a0c88e1

[2017-09-30 15:23] scooby78 commented on #29
changes ref: 79a002a

[2017-09-30 15:27] scooby78 commented on #34
Any update on this?

[2017-09-30 16:04] Diesel486 opened #44 "M1117 speed buff"
regarding m1117 pro\ior to and after the latest update, m1117 is performing much better on road, though off-road has same performance being the main and major issue. suggest playing around with teraincoef to find the sweet spot.
many thanks for your efforts

[2017-09-30 16:06] Diesel486 commented on #39
is testing still going ahead with this? should we make an official date?

[2017-09-30 23:22] scooby78 commented on #44
Interesting...  I saw almost double the off-road performance from a stand still and almost quadruple if you had a run up.

I had a look at your suggestion.  It's currently set to terrainCoef = 2.  From what I can research and from testing, this is a measure of how the power meets the ground (aka grip / wheel stickiness).  A lower number in my testing made for a poorer performance and and higher di

[2017-09-30 23:23] scooby78 commented on #39
Yes I was thinking about this just last night..  We need to move on this.

[2017-10-01 00:45] AmTheAgent commented on #39
I've been testing Dyansound when possible. Works without obvious issue. JSRS However is one that will need more testing. Id say we concentrate on 1 at a time starting with Dyna.

[2017-10-01 00:47] AmTheAgent commented on #34
I find the mod version even better than mission script version - there is more usable GUI for on the fly adjustments during missions if necessary. It can be easily enable/disabled at will - and at >2mb makes an easy add to the pack

[2017-10-01 00:49] AmTheAgent commented on #30
This is still working well though under utilised i'd say! Only detraction is Spotter will act regardless of having 'Line of Sight' or not. Basically, he could be behind a sold rock on the terrain and still call in Arty.

[2017-10-01 00:52] scooby78 opened #45 "RHS 4.3 asset changes required"
Many vehicles changed since pylon system introduced

[2017-10-01 02:39] AmTheAgent commented on #39
Also investigated the way these mods work - Dyna sound as explained by, Buck was it? Anyway, it does simply replace the existing sounds for Arma 3 Vanilla with custom ones therefor limiting any risk associated with scripting - however JSRS is different. This does however, limit it's presence as you will only note the difference with Vanilla Assets. JRSR is alot more comprehensive but represents mo

[2017-10-01 05:35] #44 closed, assigned to scooby78

[2017-10-01 06:07] scooby78 commented on #39
The planed test will be a fixed "three pass" sequence monitoring net traffic and server loading.

If no noticeable change in performance in those areas it will be white listed for missions..

[2017-10-01 06:08] AmTheAgent commented on #39
Sounds good Scooby, little more you can do than that.

[2017-10-01 07:34] scooby78 opened #46 "New Map G.O.S Leskovets"
http://steamcommunity.com/sharedfiles/filedetails/?id=855464203

[2017-10-02 11:50] scooby78 commented on #39
From an established base line test:

JSRS - yielded no significant / noticeable change in network traffic in and out of the server.
Dynasound 2 - Yielded a noticeable and consistent increase in network traffic in and out of the server.

[2017-10-06 12:05] #45 closed, assigned to scooby78

[2017-10-08 05:26] Nels0 commented on #34
These look very promising and I'd like to test the mod again.

[2017-10-15 02:10] scooby78 commented on #39
K framework to be released with this whitlisted

[2017-10-15 02:27] scooby78 opened #48 "Mission Making Guidelines tweaks - (Nels0)"
Redirected from : https://github.com/scooby78/160th-Frameworks/issues/21

[2017-10-15 02:33] scooby78 opened #49 "Confirm Mech vehicles have correct ammo in the framework"
Redirected from: https://github.com/scooby78/160th-Frameworks/issues/16

- [ ] Altis
- [ ] Malden
- [ ] Sara_dbe1
- [ ] Stratis
- [ ] Tanoa
- [ ] Malden TS

[2017-10-15 02:38] scooby78 commented on #34
I'll update the mod version on the server

[2017-10-15 02:40] scooby78 opened #50 "160thSOR data consolidation"
Moving all repositories into one location for better issue tracking and tasking
- [x] Frameworks moved
- [x] Opfor moved (initial)
- [x] Opfor moved (All branches)
- [x] Data moved
- [x] Populator
- [x] Weapon selector
- [x] Vietnam (still wip) moved

[2017-10-15 02:42] scooby78 commented on #50
Frameworks moved.
Ref: b584fcb97f84de40cc7e64470e36f39788fc4bba

[2017-10-15 02:59] AmTheAgent commented on #48
Guidelines need some Work?

[2017-10-15 03:00] AmTheAgent commented on #34
I'm really having some great success testing this mod on the Test server - it's a game changer as far as AI skill goes. Perhaps Scooby, may be time to do a stress test with the mod version?

[2017-10-15 03:04] AmTheAgent commented on #39
Both or Just JSRS?

[2017-10-15 03:18] scooby78 commented on #30
I'll look into changing this

[2017-10-15 03:51] scooby78 opened #51 "Spawner"
New function and scripted assets that allow mission makers to place down "fire and forget" spawners that will adapt to players and allow less requirements to micro manage missions.

To do:

- [x] Make as placeable item
- [x] Add ability to detect if player is down
- [x] Ability to adapt to multiple lines of attack
- [x] Auto-shutoff if building is breached
- [x] Auto-shutoff is building is destroy

[2017-10-15 04:01] scooby78 commented on #39
I'm going with JSRS for now..  Better to do only one at a time.
With the net traffic being much larger on Dynasound 2 surprisingly, I'm cautious about adding it with such large numbers joining.

[2017-10-15 04:06] AmTheAgent commented on #39
Good call, gotta say the result surprised me.

[2017-10-15 04:37] scooby78 opened #52 "CUP Terrains - Core Version 1.4.0"
Config bin "HouseDestructionSmoke" error after certain buildings get destroyed
Requires CUP Terrains - Core Version 1.4.0 to fix.

[2017-10-15 04:53] scooby78 commented on #48
Ref: scooby78/160th-Frameworks#21

[2017-10-15 04:54] scooby78 commented on #39
Me too..  I'm sure we'll revisit this again

[2017-10-15 05:09] scooby78 commented on #42
Monitoring : https://github.com/acemod/ACE3/milestone/28

[2017-10-15 05:11] scooby78 commented on #41
Monitoring : https://github.com/michail-nikolaev/task-force-arma-3-radio/milestones

[2017-10-15 10:43] scooby78 opened #53 "160th medals revise"

[2017-10-15 10:44] scooby78 opened #54 "New mod testing guide creation"

[2017-10-15 11:18] scooby78 commented on #50
Data Moved.
Ref: 93c4fe610db21719ace1e41a22defba769159ae7

[2017-10-15 11:18] scooby78 commented on #50
Opfor moved.
Ref: 3e6156a6627b6a43c51f8fa7be99979e82096778 (Initial)
Ref: 05fc6a6a207d0d60fe321eaf0778803d54b59129 (PMC)

[2017-10-15 11:20] scooby78 commented on #50
Vietnam moved.
Ref: 2a673ed6e4680e51d3987e10261fd67dd9a9886a

[2017-10-16 00:08] Nels0 commented on #34
Do we know which players need to have the VCOM mod loaded? If only Zeus &
Server need to have the mod loaded we could attempt this on a Sunday (after
researching/testing that of course). A Sunday is really the only likely way
to get a test with sufficient player numbers.

On 15 Oct 2017 16:00, "AmTheAgent" <notifications@github.com> wrote:

[2017-10-22 00:10] scooby78 commented on #39
moved up to top

[2017-10-22 00:25] AmTheAgent commented on #39
Friday Night OP - Everyone was running JSRS, ran like a dream :)

[2017-10-22 01:06] scooby78 commented on #49
M829A3 X20
M830A1 X10
M1028 X6

M829A3 X20
M830A1 X10
M1069 X6

M1069 spews out a .model error when used in the previous code (pre RHS 4.3).  Only M1028 seems to be available in 3Den now.

Tested with both 160th and original tank.

[2017-10-22 01:14] scooby78 commented on #49
Original tank composition update no longer compatible (requires updating)
Awaiting updated compositions from Bean.

[2017-10-22 01:47] scooby78 commented on #39
If ppl want the RHS additional part we would need to add RHS SAS as well.

Not really keen on adding something we won't use that much.  Size vs reward

[2017-10-22 01:55] AmTheAgent commented on #39
You have to add something to the MOD pack they cant just run the RHS version of JSRS?. That sucks.  Friday we used vanilla for the most part so we really felt the effect of JSRS sounds. Ive never tried the RHS version of JSRS. Also REALLY important to note - Missions Builders Don't build mission with Soundpacks enabled....

[2017-10-22 05:38] scooby78 commented on #50
Populator moved.
Ref: 52ff1d3fc29adfd362b08738deb754657a55ef28

[2017-10-22 05:40] scooby78 commented on #32
#50

[2017-10-22 05:56] scooby78 commented on #39
Help requested with creating the whitelist.. (It's huge!!)

[2017-10-22 06:09] scooby78 commented on #39
It doesn't seem to leave any dependencies in the mission file...  I checked this when trying to come up with a faster way to enter the required mods other than one by one.

[2017-10-22 06:11] scooby78 opened #55 "Add M113's back into framework"
Follow on from https://github.com/scooby78/160th-Frameworks/issues/19

[2017-10-22 06:21] AmTheAgent commented on #39
I have a 232 pbo's in CSV format - where do you want them?

[2017-10-22 06:24] AmTheAgent commented on #39
`jsrs_editor_fix_c_bullethits.pbo,
jsrs_editor_fix_c_environment.pbo,
jsrs_editor_fix_c_explosions.pbo,
jsrs_editor_fix_c_frame.pbo,
jsrs_editor_fix_c_globalfilters.pbo,
jsrs_editor_fix_c_movement.pbo,
jsrs_editor_fix_c_movement_apex.pbo,
jsrs_editor_fix_c_reloadingsounds.pbo,
jsrs_editor_fix_c_reloadingsoundsad97.pbo,
jsrs_editor_fix_c_reloadingsoundsapex.pbo,
jsrs_editor_fix_c_sonic_cracks.pbo,

[2017-10-22 06:55] scooby78 commented on #39
the PBO names aren't the same as the cfgPatches name sadly

[2017-10-22 10:32] destruktoid commented on #39
JSRS_SOUNDMOD_Bullethits,
JSRS_SOUNDMOD_Environment,
JSRS_SOUNDMOD_GlobalFilters,
JSRS_SOUNDMOD_Movement,
JSRS_SOUNDMOD_Sonic_Cracks,
JSRS_SOUNDMOD_Explosions,
JSRS_SOUNDMOD_FrameWork,
JSRS_SOUNDMOD_AH99_Blackfoot,
JSRS_SOUNDMOD_AH9_Pawnee,
JSRS_SOUNDMOD_UAV_1,
JSRS_SOUNDMOD_CH67_Huron,
JSRS_SOUNDMOD_CH49_Mohawk,
JSRS_SOUNDMOD_Mi290_Taru,
JSRS_SOUNDMOD_Mi48_Kajman,
JSRS_SOUNDMOD_UAV_2,
JSRS_SOUNDM

[2017-10-22 12:16] scooby78 commented on #39
nice work but need it in quotes :)

[2017-10-22 12:47] Ranger50 commented on #39
"JSRS_SOUNDMOD_Bullethits",
"JSRS_SOUNDMOD_Environment",
"JSRS_SOUNDMOD_GlobalFilters",
"JSRS_SOUNDMOD_Movement",
"JSRS_SOUNDMOD_Sonic_Cracks",
"JSRS_SOUNDMOD_Explosions",
"JSRS_SOUNDMOD_FrameWork",
"JSRS_SOUNDMOD_AH99_Blackfoot",
"JSRS_SOUNDMOD_AH9_Pawnee",
"JSRS_SOUNDMOD_UAV_1",
"JSRS_SOUNDMOD_CH67_Huron",
"JSRS_SOUNDMOD_CH49_Mohawk",
"JSRS_SOUNDMOD_Mi290_Taru",
"JSRS_SOUNDMOD_Mi48_Kajman",
"JSR

[2017-10-22 12:54] scooby78 commented on #39
awesome work mate !

[2017-10-22 13:03] scooby78 commented on #39
Frameworks updated dc187e4a15d5126d9218380e6ea26fec311e702b

[2017-10-22 13:10] scooby78 opened #57 "JSRS Performance Feedback. Is it causing issues?"
Follow on from Issue #39

Looking for:
- [ ] No negative frame issues reported over 5 missions
- [ ] No negative server issues reported over 5 missions (Including error log spamming)
- [ ] No desync issues reported by players reported over 5 missions
- [ ] No sound issues reported by players reported over 5 missions
- [ ] No local computer issues reported by players reported over 5 missions

[2017-10-23 00:39] Ranger50 commented on #39
Thanks! I'd be happy to help out anytime 😊

On 23 Oct 2017 12:03 AM, "scooby78" <notifications@github.com> wrote:

[2017-10-23 04:51] Nels0 commented on #39
The JSRS RHS variant is only 684 KB, and 29 .pbo's. Looks to be compatibility configs for all the weapons and some mech vehicles.
Includes important configs like AK-74 and M1A1 Abrams sounds

Modpack link: http://steamcommunity.com/sharedfiles/filedetails/?id=945476727

[2017-10-23 11:54] scooby78 commented on #39
@Nels0 this is no longer an open topic please refer to the feedback topic as this topic has been answered

Includes important configs like AK-74 and M1A1 Abrams sounds

Won't work without RHS SAS which we don't have... so an extra 500mb needs to be added to the pack just so we can download an extra 684 kb

[2017-10-23 12:09] scooby78 commented on #50
Weapon selector moved.
Ref: 2ec3baf4e5d25632f1ec409eebe0dc65b15036ec

[2017-10-23 12:09] #50 closed, assigned to destruktoid, scooby78, yettie79

[2017-10-23 12:15] scooby78 opened #58 "160th Weapon selector v1.5"
https://github.com/destruktoid/Weapon-selector/releases/tag/1.5

[2017-10-23 12:22] scooby78 opened #59 "160th Populator v0.3.2"
https://github.com/destruktoid/Populate/releases/tag/0.3.2

[2017-10-23 12:23] scooby78 commented on #59
I think we need to put a limit on the area size that can be selected

[2017-10-23 12:24] scooby78 opened #60 "Loadouts V2.4.10"
https://github.com/scooby78/160thSOR/milestone/6

[2017-10-23 12:26] scooby78 opened #61 "RHS USAF / AFRF / GREF v0.4.3.1"
http://www.rhsmods.org/mod/1
http://www.rhsmods.org/mod/2
http://www.rhsmods.org/mod/3

[2017-10-23 12:26] scooby78 opened #62 "Ace v3.11.0"
https://github.com/acemod/ACE3/milestone/30

[2017-10-23 12:26] Ranger50 commented on #58
the weapons are cool and all but they feel too similar in my opinion. Like they all sound the sound and feel the same and handle the same, the only difference is the name and maybe 1 skin. Would be cool to have guns which feel more different so it gives people that sense of uniqueness to their class and feels that their weapon can make a difference in battle. Or have more guns

[2017-10-24 09:12] scooby78 commented on #52
Confirmed to fix our "house destruction" error

In lieu of other new maps, do we want to leave out CUP - CWA ?
http://steamcommunity.com/sharedfiles/filedetails/?id=853743366

[2017-10-24 09:18] Nels0 commented on #52
I support removing CWA (I assume those are the really old maps, i.e Nogova and Old Malden), if it's a ~2GB saving or more. We have used them on occasion out of necessity, but if they're replaced by good maps, it's definitely worth it.

[2017-10-24 09:21] scooby78 commented on #58
More guns means more types of ammo.  This will cause major supply issues and will allow for over powered weaponry, making it very hard (on top of an almost already impossible task)  for mission makers to balance missions well...

Thank you for the feedback but this is more for bug reporting etc.

[2017-10-24 10:15] Ranger50 commented on #58
Ah ok. Well just saying that it doesn't need to be guns with different
calibers but I'm sure there are more 5.56 guns that we could use. I'm just
saying that the current guns we have look, sound and feel too similar to
each other

On 24 Oct 2017 8:21 PM, "scooby78" <notifications@github.com> wrote:

[2017-10-24 22:22] Nels0 commented on #62
https://github.com/acemod/ACE3/releases/tag/v3.11.0

I'm sure there's a hotfix for some catastrophic error coming in the next few days - not that the ACE devs think so.

[2017-10-24 22:31] Nels0 commented on #59
Would that be to limit the amount of AI spawned, or the impact on the server from calculating such a big area?
A limit on AI spawned would definitely be a good idea (i.e 70-100 AI) just to prevent accidental overloading of the server if a mission maker puts a typo in etc.
If the area was limited, I believe that anything less than a ~1km diameter area would reduce the simplicity of using the mod.

[2017-10-25 04:51] Nels0 commented on #57
Removed the G36, M70, M76, and M84 .pbo's from the JSRS RHS addon - arma ran with no relevant errors, in a popup, or in the .rpt.

[2017-10-25 04:54] AmTheAgent commented on #57
Are you still going with the plan to have a small control group testing it in missions first?

[2017-10-25 10:57] scooby78 commented on #58
Mech units reported not being able to use selector...

[2017-10-25 11:12] scooby78 commented on #58
They have it just cant use drop down selection

[2017-10-26 03:57] scooby78 commented on #57
Nah we’ve done that already let’s just see how it goes.. k framework will include whitelisting for it..

Sent from my iPhone

[2017-10-26 04:02] scooby78 commented on #59
Maybe just the total amount of AI as a mission maker could easily spam the entire server with too many AI..

I think the issue will be how to implement the logic for this

[2017-10-26 05:33] AmTheAgent commented on #59
The Populator Works Backwards to what i would expect.  ie: Last night, 10% would fill almost all slots in a building & 90% only a few - My logic says 10% = only populate 10% of available slots. (opposite to the way it was working essentially)

[2017-10-26 05:35] AmTheAgent commented on #57
When's K release Planned?

[2017-10-26 07:30] scooby78 commented on #57
Assuming no issues with the updates... end of the week

[2017-10-26 07:36] scooby78 commented on #59
Hmm, I can’t say I noticed that when I tested it.. interesting

This was on Tanoa yeah?

[2017-10-27 03:08] scooby78 commented on #39
Seeing this is going to be client side, the whitelist will need updating...  @nelso if you are able to make an amended whitelist and or a simple guide for those that want to use it we can implement it...

[2017-10-27 03:11] scooby78 commented on #62
Either way it will fix more than it breaks

[2017-10-27 05:17] Ranger50 commented on #39
I can help!!!!!

On 27 Oct 2017 2:08 PM, "scooby78" <notifications@github.com> wrote:

[2017-10-27 13:51] #52 closed, assigned to destruktoid, AmTheAgent, scooby78, yettie79

[2017-10-27 13:51] #61 closed, assigned to scooby78

[2017-10-27 13:51] #62 closed, assigned to scooby78

[2017-10-27 13:53] scooby78 commented on #58
fixed in #65

[2017-10-27 13:53] #58 closed, assigned to destruktoid, scooby78, yettie79

[2017-10-27 13:54] #60 closed, assigned to destruktoid, scooby78, yettie79

[2017-10-29 07:25] scooby78 commented on #57
Since the recent update it's no longer aligned with our white-list...  this will need updating

[2017-10-29 11:32] yettie79 commented on #53
Review Deeks work

[2017-10-29 11:33] yettie79 commented on #54
WIP with Diznutz doing questions

[2017-10-30 12:10] scooby78 commented on #39
the updated "complete" white-list can be posted in this thread

[2017-10-30 12:17] destruktoid commented on #39
"JSRS_SOUNDMOD_Bullethits","JSRS_SOUNDMOD_Environment","JSRS_SOUNDMOD_FrameWork","JSRS_SOUNDMOD_Sonic_Cracks","JSRS_SOUNDMOD_APCs","JSRS_SOUNDMOD_Tanks","JSRS_SOUNDMOD_CARS","JSRS_SOUNDMOD_HELICOPTERS","JSRS_SOUNDMOD_Movement","JSRS_SOUNDMOD_TRUCKS","JSRS_SOUNDMOD_UAVS","JSRS_SOUNDMOD_VTOLS","jsrs_soundmod_weapons","JSRS_SOUNDMOD_ReloadingSounds","JSRS_SOUNDMOD_RHS_AFRF_WEAPONS","JSRS_SOUNDMOD_RHS

[2017-10-30 12:21] #55 closed, assigned to scooby78

[2017-10-30 12:22] scooby78 commented on #49
M1069 no longer exists

[2017-10-30 12:22] #49 closed, assigned to scooby78

[2017-11-03 02:37] snookerTrain commented on #39
There was an update for JSRS Soundmod but nothing has changed in regards to the above set of lines.

[2017-11-04 11:59] scooby78 commented on #39
framework 'L' updated for:
- [x] JSRS SOUNDMOD v6.17.1102
- [x] JSRS SOUNDMOD - RHS AFRF Mod Pack Sound Support v6.17.1026
- [x] JSRS SOUNDMOD - RHS USAF Mod Pack Sound Support v6.17.1026

[2017-11-05 05:17] scooby78 commented on #39
This white list has extra addons added to it !!!

JSRS SOUNDMOD - Additional Weapon Handling and Reloading Sounds:

Why is this added in the update?!

[2017-11-05 05:53] #39 closed, assigned to destruktoid, Nels0

[2017-11-06 04:31] yettie79 commented on #39
Omg who did that

Sent from my Samsung Galaxy Tab A on the Telstra Mobile Network
-------- Original message --------From: scooby78 <notifications@github.com> Date: 5/11/2017  4:17 PM  (GMT+10:00) To: scooby78/160thSOR <160thSOR@noreply.github.com> Cc: yettie79 <lenny.henderson@bigpond.com>, Assign <assign@noreply.github.com> Subject: Re: [scooby78/160thSOR] Dynasound vs JSRS do they still cause ne

[2017-11-06 04:40] AmTheAgent commented on #39
Isn't the whole point of GIT you can see who added what?!

[2017-11-08 03:54] yettie79 commented on #46
Whats going on with this map?

[2017-11-08 03:58] Deek356 commented on #46
Ive tested it with groups of 15 people max. Air, inf and mech. We've run it
twice on Friday, no issues.
Either needs to have the testing checklist applied to certify it for sunday
or we just run it on a Sunday and see.
There are no reported issues with it in steam community pages.
Its a cup based map.

On 8 Nov 2017 2:54 PM, "yettie79" <notifications@github.com> wrote:

Whats going on with this ma

[2017-11-09 23:24] Deek356 commented on #53
https://docs.google.com/document/d/1NZvyplIRyQTzL4HQokpBIMrpcgVKL9eX27Smv0r-vC8/edit

[2017-11-12 03:25] Nels0 commented on #57
New JSRS Update, .pbo list:
`
"JSRS_SOUNDMOD_Bullethits", "JSRS_SOUNDMOD_Environment", "JSRS_SOUNDMOD_FrameWork", "JSRS_SOUNDMOD_Sonic_Cracks", "JSRS_SOUNDMOD_APCs", "JSRS_SOUNDMOD_Tanks", "JSRS_SOUNDMOD_CARS", "JSRS_SOUNDMOD_HELICOPTERS", "JSRS_SOUNDMOD_Movement", "JSRS_SOUNDMOD_TRUCKS", "JSRS_SOUNDMOD_UAVS", "JSRS_SOUNDMOD_VTOLS", "jsrs_soundmod_weapons", "JSRS_SOUNDMOD_RHS_AFRF_Vehicles", "JSRS

[2017-11-12 03:36] Nels0 commented on #57
Updated for all frameworks (including training space) in f0d2492c5e44bd2b8c1da561af2f1b1a8b2fd53e

I noticed the training space is binarised - left it as is, assume this on purpose?

[2017-11-15 00:26] yettie79 commented on #46
We need to put this to the community as i have been informed that a large number of members do not want this map.

[2017-11-15 00:42] yettie79 commented on #54
Members are expressing frustration with the limitations of mods, they feel its to hard to get anything added.
this had been expressed to me by a number of members and with enough frustration that they are threatening to leave the community.

[2017-11-15 00:55] AmTheAgent commented on #46
We did that over a month ago, the results were for, not against. I will send you the Survey Form so you can see results and re-post if necessary. This community NEEDS good new maps that perform well.

[2017-11-15 00:56] scooby78 commented on #46
Ok let’s mark this for the next community meeting..

[2017-11-15 01:25] AmTheAgent commented on #46
Guessing you guys weren't told about Monday's Community meeting? There was a lot of conversation about these issues in particular, maps. Not so much mods.

[2017-11-15 01:45] Deek356 commented on #46
"you have been informed that a large number of members dont want this map"
is that you have been informed by one person or a couple of people that a
large number of members dont want this map?
or have a significant number (over 15)  members have come to you and said
that they dont want this map?

Can we get clarity on that comment please.

Considering that this map has been tested on a Friday twic

[2017-11-15 02:28] scooby78 commented on #46
Based on the above, I see no reason not to continue as discussed last Sunday, nothing should change for a “Sunday missions only” status.  We can discuss it at a community meeting ‘post’ pack insertion to solve further underlying debates..

Given its size and with the list of possible maps, I’m sure we are always going to add maps that not everyone will like.

[2017-11-15 02:47] yettie79 commented on #46
Deek as per my post "a number of members" is more then 1.
also i think the main issue is, it was tested and passed, however it was never asked if the community wanted it.
I not sure is pushing it in anyway will set a good standard, especially when mods/maps are a contentious issue at this time.
We can do a vote tonight after mission, this will feed the dogs!!

[2017-11-15 02:52] AmTheAgent commented on #46
TO be accurate. There was a Community Vote Yettie.

[2017-11-15 02:58] yettie79 commented on #46
I have talked to both lith and meat, who run the community meeting. they said their has never been a vote.

maybe it was talked about within maps in general?

so what i see is a communication break down.

[2017-11-15 03:15] AmTheAgent commented on #46
Sorry to say, they are incorrect. I know Meat Voted though he may have forgotten.

https://docs.google.com/forms/d/1bLjAtaEaBiIJEKTHReq_WykYf1QULhDy2e1b8ANQEI8/edit?usp=drivesdk

We only got 23 responses - 87% FOR , 13% Against the Form is still there if you want to use it.

[ModMap Inclusion Survey (Responses).pdf](https://github.com/scooby78/160thSOR/files/1473303/ModMap.Inclusion.Survey.Respons

[2017-11-15 03:31] Litheius commented on #46
*Enter Litheius*

Lads,

Agreed that there needs to be a defined format for introducing new maps, one that passes all the technical requirements and ensures the wider community is on board with it.
I know we already have some sort of system but I think most people aren't aware of it.... I'm a bit hazy on it myself.

More importantly...one thing that people agreed upon on Monday was that new maps r

[2017-11-15 03:35] yettie79 commented on #46
Thank you.
I stand corrected, I will pass this onto the members with issues.
Excellent job keeping the info!

on the other side the vote should be done on a community meeting and DEEK could we please get that added to the mod testing guide.

I am happy that a legitimate process has been followed and support pushing into mod pack.

good work all.

[2017-11-15 03:39] Deek356 commented on #46
Acknowledged all.

On 15 November 2017 at 14:35, yettie79 <notifications@github.com> wrote:

[2017-11-15 03:39] Diesel486 commented on #46
for all involved here is a basic questionnaire for mod testing purposes, can also apply to maps I guess. if you feel it needs tweaks please let me know

https://docs.google.com/forms/d/1F3_nEThKkuXFmgHY8sk2WUAGOQaQNrC-_QJiptv1vSI/prefill

[2017-11-15 03:46] yettie79 commented on #48
Talk to Nelso as requested, he has some good shit coming for mission makers. ill explain more next meeting.

[2017-11-15 03:48] AmTheAgent commented on #46
Good contribution Patty, well done :D haha

No Link Diesss...

[2017-11-15 03:54] Diesel486 commented on #46
seems i broke it somehow, am fixing it now

[2017-11-15 03:55] Diesel486 commented on #46
https://goo.gl/forms/tptv7Q8h2AAh4s923
try that one

[2017-11-15 04:05] Deek356 commented on #46
The board has asked me to work on the Mod and Map testing check list/guide.
I would welcome group support as I believe we would be able to get good
knowledge and points of view which we could work into document and progress
it quickly.  Let me know those who are interested.

On 15 November 2017 at 14:39, Diesel <notifications@github.com> wrote:

[2017-11-15 04:08] Diesel486 commented on #46
feel free to come bug me later, got some good ideas that have served me well so far

[2017-11-16 03:53] scooby78 commented on #54
Yeah I know it must be frustrating..

As discussed recently, with the stabilization of ARMA and surrounding mods plus the removal of unused mods in our pack, steps moving forward with this have already started.

I think the fundamental idea we must make sure is known is more mods means more problems after ARMA updates / possible mod conflicts / performance degradation and the more important proble

[2017-11-16 04:29] Nels0 commented on #54
The only regulation of Friday nights is that you have to reserve them on the calendar, and make an announcement post. Free-for-all is definitely encouraged, but I'm unsure how well known it is that mods can be added

[2017-11-16 04:39] Nels0 commented on #54
I suggest we loosen up on mods and mod testing slightly. I volunteer to be a point of contact for people, upload/manage mods, keep track of tests etc. This may slightly overlap with @Deek so let me know if I'm stepping on toes here.

[2017-11-16 05:16] yettie79 commented on #54
Just remember any mod that is being tested for the pack must be tested with only 160th mods.

Nelso, thanks for the offer however i feel you have a shit load to do as head of missions

[2017-11-16 11:54] scooby78 commented on #57
During testing this commit i noticed that I got an asr_ai server mission addons message.  It's due to the steam version having fake pbos..

Removing:

- jsrs_soundmod_cfg_fake2.pbo
- jsrs_soundmod_cfg_fake3.pbo
- jsrs_soundmod_cfg_fake1.pbo

seemed to fix the issue but I'm not sure of the purpose of these files yet... They may have server side reasons.

[2017-11-17 01:36] scooby78 commented on #48
I've made some adjustments rule alignment and clarification... Still needs further updates and revision

[2017-11-17 01:42] scooby78 commented on #54
@Nels0  as much as I understand where you are coming from..  What is your reasoning for suggesting to loosen up on mods and mod testing?

[2017-11-17 01:48] scooby78 opened #70 "RHS update 0.4.4"
RHS AFRF: http://www.rhsmods.org/mod/1
RHS USAF: http://www.rhsmods.org/mod/2
RHS GREF: http://www.rhsmods.org/mod/3

[2017-11-17 02:10] scooby78 opened #71 "160th SOR Data CQB training PowerPoint insertion"

[2017-11-17 02:16] scooby78 opened #72 "Reinsert MightyGau-8Avenger"
Recent fixes for the A-10 gun look to be completed and ready for reinsertion.

https://github.com/ZabuzaW/MightyGau-8Avenger/releases

[2017-11-17 05:51] yettie79 commented on #72
Ill say to you what ill say to everyone else, is it needed or wanted? Is it a mod that you would use in most missions ? Is not having this mod stopping you from doing anything? Has this mod been tested as per testing guide? Does the community want it? And where does the white go when the snow melts?

[2017-11-17 06:36] scooby78 commented on #72
Lol... well....

It was only removed as a result of the Jets dlc and then an rhs incompatibility (also from jets dlc).

So this is less about adding a new mod and more about returning an existing mod back into the pack..

The current gun on the a-10 makes it useless against targets that the a-10 is designed for..  so with this mod off there is less fun runs and more missile runs..  ironically I th

[2017-11-17 11:37] destruktoid commented on #59
Count is number of units per building - this is constant for every building in the area. Percentage is the % of buildings in the area that will have AI spawned in them.

[2017-11-17 12:11] #59 closed, assigned to destruktoid, scooby78, yettie79

[2017-11-17 13:39] Diesel486 opened #73 "atlas lhd"
extracted from CUP, modified cup and made as a standalone, needs further scrutinization in server environment

[2017-11-17 21:34] Nels0 commented on #54
The issue of adding mods is probably better discussed in person, but in a nutshell I am fairly convinced that we need to add more variety to operations. More mods is not the only way to do this but will help greatly, and also inspire mission makers to do more exciting things.
We don't necessarily need to lower our standards, more ensure that due process is followed _quickly._

[2017-11-17 21:45] Nels0 commented on #73
In testing on a player-hosted server, no major issues were found except:
- Players must keep walking around on lifts (vehicles seemed to be fine).
    - Can be worked around easily.
- No easy way to move aircraft on and off the elevators.
    - Advanced towing can help, but vehicles have too long of a tow rope, and according to the dev in a recent forum post, this length is currently hardcoded. If

[2017-11-17 21:47] Nels0 commented on #73
I would also like to add that mission makers have been very excited by the prospect of the LHD, with the capability to potentially have the entire 160th water-borne.

[2017-11-18 00:03] scooby78 commented on #54
Your reasoning is sound and quite frankly I don’t disagree..  In fact we are developing the opfor pack to do just that.

The issue lays with the cost of adding in such mods on stability / performance and additional training (if needed).

Regardless of how fun / cool or practical the mod may be, many have previously not passed scrutiny or (and more often the case) the hype or interest has only last

[2017-11-18 00:18] scooby78 commented on #73
This argument has been discussed at the community meetings and meet fierce resistance..  That said the debate will no doubt continue on this..

Who says we need to change to marines anyway?  It's not like we have in the past..

This has been a topic that has been watched for a long time now but issues have usually arised stopping it due to bugs...  I caution this enthusiasm from clouding ones judg

[2017-11-18 00:48] scooby78 opened #74 "New Mission Maker Wiki entries"
Wiki entries need to be developed to help mission makers get the most out of their mission and to avoid confusion on how functions work.

Items that need attention:
- [ ] Spawners (#51)
- [ ] Building populator (#59)
- [ ] Mission maker wiki (#48)
- [x] Intelligent Mortar function (#30)

[2017-11-18 00:51] Nels0 commented on #54
I understand the basics of Arma networking, and I know that mods can break things. Again, I am saying we should not lower our standards.
Given that we have been told Sunday missions are for testing, I would like to see them used for that more often, and so would the other mission makers.
I understand the risk of scrapped missions and large downloads for players.
I firmly believe that the community

[2017-11-18 00:55] scooby78 commented on #48
I would suggest we add something to include how to make a framework on a custom map ...

It could be a sub wiki entry and not necessarily in the main mission guidelines..

[2017-11-18 00:59] scooby78 commented on #57
updated in ce7569c81284c9636836c5557a71b4ba1b12b6a4
Framework N

[2017-11-18 01:28] scooby78 opened #75 "Arma 3 Units header picture"
It needs work.. :/

https://units.arma3.com/my-units#?unit=3626

[2017-11-18 06:33] Nels0 commented on #48
Sound like a good idea, it's only briefly mentioned in the guidelines, and it could be linked to from there.

[2017-11-19 02:19] Diesel486 commented on #73
regarding bugs. the only thing I really see that might be an issue is the elevator's now they do give more mission possibilities but if they are deemed too much of an issue, would disabling them be the best bet as a work around or is it more likely to fail due to its imperfections?

[2017-11-19 06:32] scooby78 commented on #30
wiki updated https://github.com/scooby78/160thSOR/wiki/Intelligent-Mortar-function

[2017-11-19 06:49] scooby78 commented on #73
what are the 'imperfections'?

[2017-11-19 07:16] Nels0 commented on #73
This is from the creator of Advanced Towing for adjusting rope length
[code]
Where this script is placed in `init.sqf` and `_ropelength` is tow rope length

This is not suitable for integration as-is, but I'm saving it here, might be useful.

[2017-11-19 10:58] Diesel486 commented on #51
recommend a rework of spawners, as observed in tonight's op they are almost impossible to put in an open-ish area, also if the terrain isn't level the Ai get stuck inside the buildings. would suggest making a rock or something as a spawner with a higher detection radius and mid to high numbers

[2017-11-19 11:02] Diesel486 commented on #73
the imperfections I can see is a slight jolting while on the elevator, doesn't cause harm or damage to units/ vics. seems to be fine if you move around though

[2017-11-19 11:07] scooby78 opened #79 "Beketov Map"
http://www.armaholic.com/page.php?id=31454 and also available on steam

[2017-11-19 11:11] scooby78 commented on #75
Delegated to Zeis

[2017-11-19 11:32] Deek356 commented on #54
Mod Testing Document as at 19/11/17
https://docs.google.com/document/d/120-sCgdea8r7c0zZiwXR2eNDcaJAWiAEDj9WRViQHGY/edit

[2017-11-19 12:44] scooby78 commented on #51
There is the 'invisible' spawner which is a rubbish pile..  That can be put inside existing buildings

Ref to do list above... it will have a menu to allow more dynamic operation including a spawn count selection

[2017-11-20 23:46] Diesel486 commented on #51
Out of curiosity, will the variables inclde an activation radius? This would be a massive help for situations where there is little defolaide in the 300m vacinity, a major issue I had on sunday's failop 😂

[2017-11-20 23:48] Diesel486 commented on #72
Still in need of testing? I can set something up this evening if need. Either local Host or if someone can do server side stuff then can run a server test

[2017-11-21 09:36] scooby78 opened #80 "Mig29 causes mass crash when destroyed"

[2017-11-21 12:04] scooby78 commented on #51
yes it does :)

[2017-11-22 03:43] scooby78 commented on #72
Yeah I’ll need to run everything through it’s paces as a whole (all mod updates loaded) and make sure there isn’t any funny shit happening before the final pack update..

[2017-11-22 11:05] scooby78 opened #81 "Medical setting revise"
Inf are going through bandages very quickly..

- [ ] Check damage coef
- [ ] Check bleeding coef
- [ ] Check balancing

[2017-11-22 11:06] Diesel486 commented on #57
fake .pbo's are serverside files. when on multiplayer the server can have trouble with trying to find certain jsrs files, so by having the fake pbo's it points at them and the possible issue goes away. (my overtired piss poor explanation)

[2017-11-22 23:52] Nels0 commented on #57
That's weird, because JSRS isn't running on the server at all.

The continual changing of the .pbo structure is pretty annoying.

[2017-11-23 01:20] Diesel486 commented on #57
I read that somewhere in amongst the jsrs docs or forums. Maybe when it becomes a bit more stable we will see it again, maybe

[2017-11-23 02:18] scooby78 commented on #57
The wired thing when I looked inside the PBOs is that they only make reference to ASR_AI there is literally nothing else in them other than to change the required mod list for ASR_AI...

Perhaps a conflict issue only happens if both mods are installed....

[2017-11-23 10:27] scooby78 commented on #75
Logo and Banner updated...  from work by Zeis

[2017-11-23 12:29] scooby78 commented on #71
dedicated test passed

[2017-11-23 12:29] #71 closed, assigned to scooby78

[2017-11-23 13:09] scooby78 commented on #70
No issues noted

[2017-11-23 13:09] #70 closed, assigned to Nels0, AmTheAgent, scooby78, yettie79

[2017-11-23 13:10] scooby78 commented on #30
script not finding targets in dedicated environment

[2017-11-23 13:11] scooby78 commented on #46
Approved for sunday missions

[2017-11-23 13:11] #46 closed, assigned to destruktoid, AmTheAgent, scooby78, yettie79

[2017-11-23 13:11] scooby78 commented on #79
approved for Sunday missions

[2017-11-23 13:11] #79 closed, assigned to scooby78

[2017-11-23 13:13] scooby78 commented on #72
Bullet hit sounds seemed to have and "unusual echo".

Further testing required without the performance pbo

[2017-11-23 13:14] scooby78 commented on #32
no visual issues noted

[2017-11-23 13:14] #32 closed, assigned to scooby78, yettie79

[2017-11-23 23:59] Nels0 commented on #74
I intend to rework the layout of the will to be slightly clearer - will tackle it this weekend.
Will also make sure the wiki is pointed to in more places so it's impossible to miss.

[2017-11-24 10:52] Diesel486 commented on #79
event feedback regarding beketov
 https://docs.google.com/spreadsheets/d/1PxyAf-QNreGGtl8RNnh4VNOfTsn0NoK6GAwcFQe3hGw/edit?usp=sharing

[2017-11-25 10:16] yettie79 commented on #72
Tested with 1 INF person on the ground.
we did 4 attack runs with no issue found.

[2017-11-26 11:06] scooby78 commented on #53
Yettie to do:

- [x] Legion of Merit Medal
- [x] Good Conduct Medal

[2017-11-26 11:10] scooby78 commented on #75
Looks good but more of a mech and air showcase needed

[2017-11-26 11:10] scooby78 commented on #75
logo is good :)

[2017-11-26 11:13] scooby78 commented on #51
grenade & RPG spam needs addressing through changes to group compositions

[2017-11-26 11:14] Deek356 commented on #72
Deek to run another test
Aviation do a fly by and shoot with infantry on the ground listening.

[2017-11-27 07:31] Ranger50 commented on #81
Either give medics more bandages or get infantry to stop standing in the open when they are getting shot at and end up getting shot... a suppression mod (or a certain SOUND mod) should be able to scare them into getting into cover instead of them standing in the open like Rambo getting in a 1 on 1 cowboy duel to see who shoots each other first.

[2017-11-27 08:36] scooby78 commented on #30
issues with dedicated server unit locality/ ownership

Although will work as editor placeable unit

[2017-11-27 13:36] scooby78 commented on #30
Test confirmed ok if editor placed

[2017-11-27 20:22] Diesel486 commented on #81
do you have modified files you want tested?

[2017-11-27 21:46] scooby78 commented on #81
Not yet no...   you can have a look in the framework modules and see if there is anything that works better...  there have been several updates so anything is possible..

[2017-11-28 01:11] yettie79 commented on #34
at this stage, the AI spawners have done a great job. I think VCOM in not needed.

[2017-11-28 01:47] scooby78 commented on #34
I agree, I also think they fix more issues with Zeus desync (which I think is another issue with the ai) and allow the AI to be more controllable if needed..

The less addons the better..

@Nelso @AmTheAgent any further thoughts?

[2017-11-28 08:32] AmTheAgent commented on #34
I agree. Current status of AI when you consider the spawners is more than adequate. The less addons the better.

[2017-11-28 08:36] AmTheAgent commented on #81
I think this is a non issue. Better regimental cooperation and supply runs would be better and more beneficial for the community as a whole. Giving more supplies means less cooperation, thus less fun!

[2017-11-28 11:16] #30 closed, assigned to AmTheAgent, scooby78

[2017-11-28 13:03] #34 closed, assigned to AmTheAgent

[2017-11-28 13:15] Diesel486 commented on #72
test run. 3 players, did gun runs and different distances, altitudes and behind mountains from the ground-based player. all audible seems normal. all particle effects seem normal though splash damage seems a bit low. possible error in rpt file "Server: Object 7:295 not found (message Type_114)" were many of these with different message type's, needs further testing on another pc or server to check

[2017-11-29 10:09] scooby78 commented on #30
351a04e794360abf76647a27a93d47355c2ff8dd
Fixes:
Issue noted with multiple Arti assets
Removed requirement for group in loadouts
Removed requirement for defining Arti classname (simplified run-code)

[2017-11-29 12:45] scooby78 commented on #30
tested on dedicated server as editor placeable object ok

[2017-11-29 12:48] scooby78 commented on #51
Group compositions changed, range increased, spawn amount increased and grenades removed from most inf along with RPGs to avoid spamming.

[2017-11-29 12:50] scooby78 opened #83 "Menu for spawner script"
Menu for customization of the spawners in mission (follow on from #51)

[2017-11-29 12:52] #51 closed, assigned to destruktoid, scooby78

[2017-12-03 11:11] scooby78 opened #85 "Arma update 1.78 issues"

[2017-12-03 11:13] scooby78 commented on #85
CBA update impending for Rpt error.
Ref: https://github.com/CBATeam/CBA_A3/issues/812

[2017-12-03 11:31] Nels0 opened #86 "Leskovets Issues"
AI have issues following roads and moving between different roads.

Witnessed by Barry and Nels0

[2017-12-03 11:41] Nels0 commented on #86
Render distance issues when flying in a jet: (BuckKaneer)
 - Roads disappear
 - Towns disappear
 - Ground vehicles disappear into the ground

[2017-12-03 21:37] Diesel486 commented on #86
reg render distance. I've seen this before on other maps, is it possible this is something within the maps config to reduce framerate issues? alongside that, should we be worried about it? considering certain people complain that they can see everything on the map in air? (Buck)

[2017-12-03 23:06] Diesel486 commented on #80
pretty sure this is to do with ace cook-off, at this stage i cant test this theory until i figure out how to disable the cook-off feature.
Edit- disable/ removed cook-off pbo and no crash with mig29

[2017-12-04 03:22] scooby78 commented on #80
As a quick and nasty option, you should be able to to it via an attribute in 3Den.

Otherwise, it needs to be done via script or config in the long term both are just as much of a muchness if we move forward in this...

IMO there are plenty of other variations available for us to not bother with this model for the sake of the server crashing if we’re wrong..

[2017-12-04 03:25] scooby78 commented on #86
@Diesel yeah I don’t think the rendering is going to be a major issue to the hole community but the path finding is of more concern to me..

[2017-12-04 07:15] Nels0 commented on #86
I understand it's only for wheeled/tracked vehicles. Likely can be worked around in the short term, and maybe we just rotate out the map in the next few months.

[2017-12-04 09:37] scooby78 commented on #86
@Nels0 yes that’s correct it will most likely not remaining in the pack for any extended period.

[2017-12-10 11:22] Deek356 opened #87 "4th Reich Spawn 50Cal units"
Reported during Malden Mission 10th Dec.
The Infantry units that were spawning with these rifles made it very hard.
Meatbait reported the issue as a result from a mission maker point of view as well as feedback from the squads post mission.

[2017-12-13 21:46] Diesel486 opened #88 "Beketov error"
error upon loading into last night's mission, unsure if everyone got the error or not.
pulled from RPT ( Warning Message: Embedded skeleton Building in 'ca\buildings\misc\kbud.p3d' has different [ bones count ] in different p3d files. Skeleton/model 'rusland\beketov_ob\pale_stolbte.p3d' will probably not work correctly.) and ( Warning Message: Embedded skeleton Building in 'ca\buildings\misc\kbud.

[2017-12-14 06:26] scooby78 commented on #88
This is probably connected to the ability to walk through some walls..

[2018-01-11 03:20] Deek356 commented on #88
Error is still present on loading. Yes, there are some buildings that you can walk through wall to enter. My experience is those with bushes/shrubs next to the wall.

[2018-01-11 03:24] Deek356 commented on #53
Infantry reviewed and discussed the Infantry Service Medal. The following was agreed to be presented for approval.

Infantry Service Medal
160th: Awarded to those infantry members who have demonstrated their ability in all Infantry Squad positions to a level of high excellence including Team Lead, Squad Medic and Squad Lead.
75 missions

[2018-01-11 03:43] Litheius commented on #53
Lads.

Amendment to the above description - Awarded to members Infantry members who have shown great dedication to the 28th Infantry Battalion by achieving a total of 75 Infantry points.

Cheers,
Lith.

[2018-01-15 08:00] Deek356 opened #89 "Carrier creating issues in missions"
Performance issues in Sunday's mission
1. Lag spikes started occurring/reported when choppers started engines while on carrier deck
2. Carrier sections duplicated themselves, making additional sections of the carrier which could be moved around.
3. 80% equipment when spawned by Zeus to the carrier fell through the deck
4. Vehicles on the carrier deck bounced off and flew up into the air.

[2018-01-16 11:59] Deek356 commented on #54
Zeus Mod & Map test report
https://docs.google.com/forms/d/1Bs09eqJiNSM9x3l00xTqdGonLh_q6z0aPRG-KtOnQJk/edit

160th Mod & Map Testing Form
https://docs.google.com/forms/d/1JnHbnq5gcjrydTMFNq6Fg6iXP6hN8VZKEYYtaVAZgWY/edit

[2018-06-18 04:04] maximusnz commented on #75
Just noticed the first video on the unit's profile doesn't work https://units.arma3.com/unit/160thsor
The grammar needs a bit of a tidy up too.